{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliar Disciplina</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="container">
        <h1>Avaliar a disciplina: {{ disciplina.nome }}</h1>

        {% if not feedback %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar Avaliação</button>
            </form>
        {% else %}
            <p>Você já avaliou esta disciplina.</p>
            <div class="btn-group">
                <a href="{% url 'detalhes_disciplina' disciplina.id %}" class="btn">Ver detalhes da disciplina</a>
            </div>
        {% endif %}

        <div class="btn-group">
            <a href="{% url 'lista_disciplinas' %}" class="btn">Voltar para Lista de Disciplinas</a>
            <a href="{% url 'home' %}" class="btn">Voltar para Home</a>
        </div>
    </div>
</body>
</html>
